<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <h1>Albums new page</h1>  
    <form action="/albums" method="POST">
        name: <input type="text" name="name" /><br/>
        artist: <input type="text" artist="artist" /><br/>
        genre: <input type="text" genre="genre" /><br/>
        year: 
    </form>

</body>
</html>